@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #4F46E5; /* Indigo (main accent color) */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(8, 1, 1);
  background-color: #0e0000; /* Dark gray background */
}

body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
   /* background-color: hsl(240, 9%, 94%); /* Dark gray */
  background: linear-gradient(to right, #f9f9fa, #f480d3); /* blue → purple → pink */
  color: inherit;
}
c
  